body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  height: calc(100vh - 210px);
  overflow: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.page-container {
  width: 100%;
}

.homepage-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  flex-direction: row;
  width: 100%;
}

.homepage-sidebar {
  width: 200px;
}

.homepage-content-container {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  margin-left: 40px;
  width: calc(100% - 240px);
}

.homepage-search-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

.searchbar-container {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .card {
    /* width: 250px; */
  }
  
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
    height: calc(100vh - 210px);
    overflow: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }

  .page-container {
    width: 100%;
  }

  .homepage-container {
    flex-direction: column;
    width: 100%;
  }

  .homepage-sidebar {
    width: 100%;
  }

  .homepage-content-container {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: calc(100%);
  }
  .homepage-search-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .searchbar-container {
    width: 100%;
  }
}

.card {
  min-height: 200px;
  margin-bottom: 30px;
  background: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card:focus {
  outline: none;
}

.pic {
  min-height: 200px;
  object-fit: contain;
  background: whitesmoke;
  width: 100%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
}
