.navheader {
    margin: auto 0px;
    padding: 15px;
    background: #f5f5f5;
}

.token {
    line-height: 24px;
    height: 24px;
}

.token input {
    width: 80%;
    margin-right: 5px;
}

.token img {
    cursor: pointer;
    height: 16px;
}
