.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 47px;
}
.navbar li {
    display: inline;
    float: left;
}
.navbar li:first-child {
    margin-right: 10px;
}
.navbar li a {
    display: block;
    color: white;
    background-color: #b83f45;
    text-align: center;
    padding: 14px 16px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: silver;
    color: white;
}
